<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Calculadora de custos em renda internacional</h1>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <base target="_blank" />
    <!-- <pre>{{ rendas | json }}</pre> -->

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card">
              <div class="card-header">
                <div class="card-title">
                  <span> Rendas </span>
                </div>
                <div class="card-tools">
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-4">
                    <input
                      type="radio"
                      (change)="changeRadioRenda($event)"
                      id="radio_real"
                      checked
                      name="radio_renda"
                      value="real"
                    />
                    <label for="renda_real">Renda REAL</label>
                    <div class="input-group mb-3">
                      <input
                        currencyMask
                        id="renda_real"
                        type="text"
                        [(ngModel)]="rendas.real.value"
                        [disabled]="rendas.real.disabled"
                        (ngModelChange)="changeRenda($event)"
                        class="form-control campo_renda"
                        placeholder="Valor em reais"
                      />
                      <span class="input-group-text" id="basic-addon2">R$</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <input
                      type="radio"
                      (change)="changeRadioRenda($event)"
                      id="radio_euro"
                      name="radio_renda"
                      value="euro"
                    />
                    <label for="renda_euro">Renda EURO</label>

                    <div class="input-group mb-3">
                      <input
                        currencyMask
                        id="renda_euro"
                        type="text"
                        [(ngModel)]="rendas.euro.value"
                        [disabled]="rendas.euro.disabled"
                        (ngModelChange)="changeRenda($event)"
                        class="form-control campo_renda"
                        placeholder="Valor em euro"
                      />
                      <span class="input-group-text">€</span>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <input
                      type="radio"
                      (change)="changeRadioRenda($event)"
                      id="radio_dolar"
                      name="radio_renda"
                      value="dolar"
                    />
                    <label for="renda_dolar">Renda DOLAR</label>

                    <div class="input-group mb-3">
                      <input
                        currencyMask
                        type="text"
                        id="renda_dolar"
                        [(ngModel)]="rendas.dolar.value"
                        [disabled]="rendas.dolar.disabled"
                        (ngModelChange)="changeRenda($event)"
                        class="form-control campo_renda"
                        placeholder="Valor em dolar"
                        aria-label="Valor em dolar"
                      />
                      <span class="input-group-text">US$</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-4">
                    <label for="conversao_real" [hidden]="!rendas.real.disabled"
                      >Conversão REAL</label
                    >
                    <div
                      class="input-group mb-3"
                      [hidden]="!rendas.real.disabled"
                    >
                      <input
                        currencyMask
                        id="conversao_real"
                        type="text"
                        [(ngModel)]="rendas.conversoes.real"
                        disabled
                        class="form-control conversao"
                      />
                      <span class="input-group-text">R$</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label for="conversao_euro" [hidden]="!rendas.euro.disabled"
                      >Conversão EURO</label
                    >

                    <div
                      class="input-group mb-3"
                      [hidden]="!rendas.euro.disabled"
                    >
                      <input
                        currencyMask
                        id="conversao_euro"
                        type="text"
                        [(ngModel)]="rendas.conversoes.euro"
                        disabled
                        class="form-control conversao"
                      />
                      <span class="input-group-text">€</span>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <label
                      for="conversao_dolar"
                      [hidden]="!rendas.dolar.disabled"
                      >Coversão DOLAR</label
                    >

                    <div
                      class="input-group mb-3"
                      [hidden]="!rendas.dolar.disabled"
                    >
                      <input
                        type="text"
                        currencyMask
                        [(ngModel)]="rendas.conversoes.dolar"
                        disabled
                        id="conversao_dolar"
                        class="form-control conversao"
                      />
                      <span class="input-group-text">US$</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <span> Itens </span>
            </div>
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="input-group mb-3">
                            <input
                              type="text"
                              [(ngModel)]="item.name"
                              class="form-control"
                              autocomplete="off"
                              placeholder="Nome do item"
                            />
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="input-group mb-3">
                            <input
                              currencyMask
                              [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false}"
                              id="valor_item"
                              type="text"
                              [(ngModel)]="item.value"
                              
                              class="form-control campo_renda"
                              placeholder="Valor do item"
                            />
                            <span class="input-group-text">{{ simbolo.prefix }}</span>
                          </div>
                        </div>

                        <div class="col-sm-4">
                          <div class="input-group mb-3">
                            <button (click)="adicionar()" [disabled]="!item.name || !item.value " class="btn btn-success"
                              >Adicionar <i class="fas fa-plus"></i
                            ></button>
                          </div>
                        </div>
                      </div>
                    </h3>

                     
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Nome</th>
                          <th>Valor informado</th>
                          <th class="bg-success disabled">Real</th>
                          <th class="bg-success disabled">Real%</th>
                          <th class="bg-danger disabled">Euro</th>
                          <th class="bg-danger disabled">Euro%</th>
                          <th class="bg-primary disabled">
                            Dolar
                          </th>
                          <th class="bg-primary disabled">Dolar%</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="itens.length > 0">
                        <tr *ngFor="let item of itens" >
                          <td>
                            <button class="btn btn-danger btn-sm" (click)="excluir(item.id)">
                              <i class="fas fa-minus"></i>
                            </button>
                          </td>
                          <td>{{ item.name }}</td> 
                          <td>{{ item.value }}</td> 
                          <!-- <td ><div [ngbTooltip]="rendasOriginais(item.rendasOriginais)">{{item.value | currency:item.simbolo.sigla:'symbol':'1.2-2'}}</div> </td> -->
                          <td class="bg-success disabled">
                            {{ item.real.conversao }}
                          </td>
                          <td class="bg-success disabled">
                            {{ item.real.percentual }}
                          </td>
                          <td class="bg-danger disabled">
                            {{ item.euro.conversao }}
                          </td>
                          <td class="bg-danger disabled">
                            {{ item.euro.percentual }}
                          </td>
                          <td class="bg-primary disabled">
                            {{ item.dolar.conversao }}
                          </td>
                          <td class="bg-primary disabled">
                            {{ item.dolar.percentual }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div style="position: fixed; right: 50px; top: 85%; z-index: 900">
  <button
    class="btn btn-info rounded-circle"
    style="padding: 8px 10px 8px 10px; width: 50px; height: 50px; z-index: 900"
    (click)="oliotaUtils.scrollTo('topo')"
  >
    <i class="icon fas fa-arrow-up"></i>
  </button>
</div>
