<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Utilitários</h1>
        </div>
      </div>
    </div>
  </div>
  
  <section class="content">
    <div class="container-fluid">
      <base target="_blank" />
  

      <div *ngFor="let utilidade of utilidades" class="card collapsed-card">
        <div class="card-header">
          <div class="card-title">
            <span>
              <a [routerLink]="utilidade.route">
                {{utilidade.name}} 
                <i class="fas fa-link"></i>
              </a>
            </span>
          </div>
          <div class="card-tools">
            <button
              type="button"
              class="btn btn-tool"
              data-card-widget="collapse"
            >
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="col">
            <pre>{{utilidade.description}}</pre>
            
          </div>
        </div>
      </div>


      <!-- <div class="card collapsed-card">
        <div class="card-header">
          <div class="card-title">
            <span>
              <a routerLink="/dicas">
                Titulo
                <i class="fas fa-link"></i>
              </a>
            </span>
          </div>
          <div class="card-tools">
            <button
              type="button"
              class="btn btn-tool"
              data-card-widget="collapse"
            >
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="col">item</div>
        </div>
      </div>
  
      <div class="card collapsed-card">
        <div class="card-header">
          <div class="card-title">
            <span>
              <a routerLink="calculadora_renda_custos_internacional">
                Calculadora de custos percentual a renda internacional
                <i class="fas fa-link"></i>
              </a>
            </span>
          </div>
          <div class="card-tools">
            <button
              type="button"
              class="btn btn-tool"
              data-card-widget="collapse"
            >
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="col">item</div>
        </div>
      </div> -->
    </div>
  </section>
  
 
  