<br><br>


<div class="timeline timeline">

    <div>
        <i class="fas fa-home bg-gray"></i>
    </div>
    <br><br>

    <ng-container *ngFor="let aula of detalhe.datas ; let i = index">


        <div>
            <i class="fas fa-graduation-cap bg-info"></i>
            <div class="timeline-item">
                <div class="bg-light progress-bar-striped card card-widget widget-user">
                    <div class="widget-user-header disabled bg-info  progress-bar-striped">
                        <h3 class="widget-user-username">{{aula.data | date:'dd/MM/yyyy - EEEE'}}</h3>
                        <h3 class="widget-user-desc">{{i+1}}º aula</h3>
                    </div>

                    <ng-container *ngIf="aula.resumos.length>0">
                        <div class="card-header ">
                            <div class="card-title ">
                                Assunto
                            </div>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">
                                            Resumo
                                           
                                        </div>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">

                                        <span *ngFor="let resumo of aula.resumos ; let j = index">
                                            <b> {{resumo.titulo}}</b>
                                            <br>
                                            <span>
                                               <pre>{{resumo.paragrafo}}</pre> 
                                                
                                            </span>
                                            <hr>
                                        </span>



                                    </div>
                                    <div class="card-footer bg-light" *ngIf="aula.assuntos.length != 0">
                                        <div class="timeline-item">
                                            <div class="card">
                                                <div class="card-header">

                                                    <div class="card-title">
                                                        DETALHES
                                                    </div>
                                                    <div class="card-tools">
                                                        <button type="button" class="btn btn-tool"
                                                            data-card-widget="collapse">
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="col-12">
                                                        <div class="timeline timeline">

                                                            <div *ngFor="let assunto of aula.assuntos ; let k = index">
                                                                <i class=" fas fa-book bg-info"></i>
                                                                <div class="timeline-item">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <b>

                                                                                {{assunto.titulo}}
                                                                            </b>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <pre>{{assunto.paragrafo }}</pre>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>






                                                            <!-- 
                                                            <div>
                                                                <i class="fas fa-home bg-gray"></i>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>


                </div>
            </div>
        </div>
    </ng-container>





    <div>
        <i class="fas fa-user-graduate bg-gray"></i>
    </div>
</div>

<br><br>