<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <a href="https://www.proway.com.br/" target="_blank">
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-exclamation-triangle"></i> Não esqueça de avaliar a aula no final!</h5>
            <h6>No site da proway acesse o menu superior > avaliação > informe a sua matricula</h6>
            <i class="icon fas fa-link"></i> Clique aqui para acessar o site da proway.
          </div>
        </a>
      </div>
    </div>
  </div>
</section>


<section class="content">
  <div class="container-fluid">
    <br><br>
    <base target="_blank">
    <div class="timeline timeline">


      <div class="time-label">
        <span class="bg-info">
          {{detalhe.nome}}
        </span>
      </div>
      <div>
        <i class="fas fa-home bg-gray"></i>
      </div>
      <br><br>



      <ng-container *ngFor="let aula of detalhe.datas ; let i = index">
        <div>
          <i class="fas fa-graduation-cap bg-info"></i>
          <div class="timeline-item">
            <div class="bg-light progress-bar-striped card card-widget widget-user">
              <div class="widget-user-header disabled bg-info  progress-bar-striped">
                <h3 class="widget-user-username">{{aula.data | date:'dd/MM/yyyy - EEEE'}}</h3>
                <h3 class="widget-user-desc">{{i+1}}º aula</h3>
              </div>


              <ng-container *ngIf="aula.resumos.length>0 || aula.assuntos.length>0 ">

                <ng-container *ngIf="mobile">
                  <div class="card-header ">
                    <div class="card-title ">
                      <small>

                        Conteúdo não disponivel na vizualização mobile
                      </small>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="!mobile">


                  <div class="card-header ">
                    <div class="card-title ">
                      Assunto
                    </div>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-footer ">
                    <div class="col-12" *ngIf="aula.resumos.length>0  ">
                      <div class="card">
                        <div class="card-header">
                          <div class="card-title">
                            Resumo

                          </div>
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                          </div>
                        </div>
                        <div class="card-body">

                          <!-- <span *ngFor="let resumo of aula.resumos ; let j = index">
                          <b> {{resumo.titulo}}</b>
                          <br>
                          <p [innerHtml]="resumo.paragrafo"></p>

                          <hr>
                        </span> -->

                          <div class="col-12">
                            <div class="timeline timeline">
                              <div *ngFor="let resumo of aula.resumos ; let j = index">
                                <i class=" fab fa-leanpub bg-gray"></i>
                                <div class="timeline-item">
                                  <div class="card">
                                    <div class="card-header">
                                      <div class="card-title ">
                                        <b>

                                          {{resumo.titulo}}
                                        </b>
                                      </div>
                                      <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                          <i class="fas fa-minus"></i>
                                        </button>
                                      </div>
                                    </div>
                                    <div class="card-body">
                                      <p [innerHtml]="resumo.paragrafo"></p>


                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>


                        </div>

                      </div>
                    </div>

                    <div class="col-12" *ngIf="aula.assuntos.length>0 ">
                      <div class="card">
                        <div class="card-header">

                          <div class="card-title">
                            Detalhes
                          </div>
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                          </div>
                        </div>

                        <div class="card-body">
                          <div class="col-12">
                            <div class="timeline timeline">

                              <div *ngFor="let assunto of aula.assuntos ; let k = index">
                                <i class=" fas fa-code bg-primary"></i>
                                <div class="timeline-item">
                                  <div class="card">
                                    <div class="card-header">
                                      <div class="card-title ">
                                        {{assunto.titulo}}
                                      </div>
                                      <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                          <i class="fas fa-minus"></i>
                                        </button>
                                      </div>
                                    </div>
                                    <div class="card-body">
                                      <p [innerHtml]="assunto.paragrafo"></p>


                                    </div>

                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </ng-container>
              </ng-container>



            </div>
          </div>
        </div>
      </ng-container>





      <div>
        <i class="fas fa-user-graduate bg-gray"></i>
      </div>
    </div>
  </div>
</section>
<br><br>