<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <h1 class="m-0 text-dark">Dicas</h1>
      </div>
    </div>
  </div>
</section>


<section class="content">
  <div class="container-fluid">

    <div class="row">



      <div class='col-12'>
        <div class='card'>
          <div class='card-header'>
            <div class='card-title '> <b> Como importar meus snnipets de código no Visual Studio Code </b></div>
            <div class='card-tools'><button type='button' class='btn btn-tool' data-card-widget='collapse'><i
                  class='fas fa-minus'></i></button></div>
          </div>
          <div class='card-body'>
            <ol>
              <li>localize o diretório no seu computador
                <ul>
                  <li>C:\Users\<b>SEU_USUARIO_AQUI</b>\AppData\Roaming\Code\User\snippets</li>
                </ul>
              </li>
              <li><a href="https://drive.google.com/file/d/1VNY42dLvCnQKhKDXhAxfaScTWudccHez/view?usp=sharing"
                  target="_blank">Baixe o meu snnipet</a> e cole nesse diretório </li>
              <li>Exemplo de uso:
                <ol>
                  <li>Digite oliota. em uma página html no visual studio code</li>
                  <li>Escolha oliota.card.simples</li>
                </ol>
              </li>
              <li>Use TABS para preencher as informações</li>
              <li>Organize o código para identar os novos elementos criados</li>
            </ol>
          </div>
        </div>
      </div>

      <div class='col-12'>
        <div class='card'>
          <div class='card-header'>
            <div class='card-title '> <b> Como criar um arquivo de snnipets de códigos para o Visual Studio Code </b>
            </div>
            <div class='card-tools'><button type='button' class='btn btn-tool' data-card-widget='collapse'><i
                  class='fas fa-minus'></i></button></div>
          </div>
          <div class='card-body'>
            <ol>
              <li>No visual studio code execute o atalho
                <ul>
                  <li>Ctrl + Shift + p</li>
                  <ol>
                    <li>Busque por : Preferences - configure user snnipets</li>
                    <li>New Global snnipets</li>
                    <li>Escolha um nome para o arquivo (não pode conter espaços e nem caracteres especiais)</li>
                  </ol>
                </ul>
              </li>
              <li>O arquivo gerado está parcialmente comentado
                <ul>
                  <li>
                    <pre>{{exemplo}}</pre>
                  </li>
                </ul>
              </li>
              <li>Exemplo de uso:
                <ol>
                  <li>Digite oliota. em uma página html no visual studio code</li>
                  <li>Escolha oliota.div</li>
                </ol>
              </li>
            </ol>
          </div>
        </div>
      </div>

 

    </div>

  </div>
</section>
<br><br>
