<!-- Content Header (Page header) -->
<style>
    button{
        margin: 2px;
    }
  </style>

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Início</h1>
        </div>
        <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/usuarios" >Usuarios</a></li>
            <li class="breadcrumb-item active">Detalhe</li>
          </ol>
        </div> -->
      </div>
    </div>
  </div>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                src="https://yt3.ggpht.com/ytc/AAUvwnh8uSXNsEBqViI4hmRIRGfdVngmV4Tc1r-sM4xqKQ=s176-c-k-c0x00ffffff-no-rj"
                                alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">Rubem Oliota</h3>

                        <p class="text-muted text-center">Analista / Desenvolvedor / Professor / Artesão</p>
                        <div class=" text-center">
                            <!-- <a href="https://oliota.github.io/" target="_blank">
                                <strong><i class="fas fa-user-circle mr-1"></i> Páginal pessoal</strong>
                            </a>
                            | -->
                            <a href="https://www.linkedin.com/in/rubem-oliota-abb273120/" target="_blank">
                                <strong><i class="fab fa-linkedin mr-1"></i> Linkedin</strong>
                            </a>
                            |
                            <a href="https://github.com/oliota?tab=repositories" target="_blank">
                                <strong><i class="fab fa-github-square mr-1"></i> Github</strong>
                            </a>
                            |
                            <a href="https://www.instagram.com/oliotaartesanato/" target="_blank">
                                <strong><i class="fab fa-instagram-square"></i> OliotaArtesanato</strong>
                            </a>


                        </div>


                        <!-- <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                      <b>Analista/Desenvolvedor Sênior</b> <a class="float-right">Benner sistemas</a>
                    </li>
                    <li class="list-group-item">
                      <b>Instrutor</b> <a class="float-right">Proway</a>
                    </li>
                    <li class="list-group-item">
                      <b>Artesão</b> <a class="float-right">Biscuit</a>
                    </li>
                  </ul> -->

                        <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Sobre mim</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Formação</strong>

                        <p class="text-muted">
                            Bacharel em Sistemas de Informações - IESP - 2013
                        </p>

                        <hr>
                     
                        <strong><i class="fas fa-heart mr-1"></i>Casado</strong>
                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i>Atualmente</strong>

                        <p class="text-muted">Blumenal - SC</p>



                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Habilidades</strong>
                        <br>
                            <button  class="btn btn-success">C# </button> 

                            <button  class="btn btn-success">Java</button>
                            <button  class="btn btn-success">Android</button>
                            <button  class="btn btn-success">Python</button>
                            <button  class="btn btn-success">VBA</button>
                            <button  class="btn btn-success">Delphi</button>
                            <button  class="btn btn-success">SQL</button>
                            <button  class="btn btn-success">JavaScript</button>
                            <br>
                            <button  class="btn btn-primary">HTML</button>
                            <button  class="btn btn-primary">CSS</button>
                            <button  class="btn btn-primary">Sass</button>
                            <button  class="btn btn-primary">Jquery</button>
                            <button  class="btn btn-primary">Ajax</button>
                            <button  class="btn btn-primary">TypeScript</button>
                            <button  class="btn btn-primary">Node</button>
                            <button  class="btn btn-primary">Markdown</button>
                            <button  class="btn btn-primary">Angular</button>
                            <br>
                            <button  class="btn btn-danger">Instrutor</button>
                            <button  class="btn btn-danger">Robotica</button>
                            <button  class="btn btn-danger">Biscuit</button>
                            <button  class="btn btn-danger">Basquete</button>
                        
                        <hr>

                        
                      
                        <div class="pensamento"></div>
                        
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col">
                <div class="row">
                    <div class="card card-primary card-outline">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="callout callout-danger">
                                <h5> Bem vindo a minha página pessoal </h5>

                                <p>Esse site foi desenvolvido durante o meu tempo livre enquanto elaborava os assuntos das aulas de programação.
                                    
                                    
                                </p>
                            </div>
 


                            <div class="callout callout-info">
                                <h5>Inicialmente</h5>

                                <p>A página tem o objetivo de facilitar o acesso aos conteúdos das aulas para meus alunos e publicar o meu perfil profissional de forma prática com os conhecimentos adquiridos durante minha carreira.</p>
                            </div>
                            <div class="callout callout-warning">
                                <h5>O conteúdo</h5>

                                <p>Pode ser acessado no menu lateral, onde as páginas estão agrupadas por assunto</p>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
               
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>